button,input,select {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  opacity: 0.6;
  background: #0099FF;
  margin-right: 5px;
  outline: none;
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  td {
    padding: 5px 10px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
  th {
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
}