.road {
    height: 200px;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
    text-align: left;
}

.line {
    box-sizing: border-box;
    border-top: 5px dashed #fff;
    border-bottom: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 14%;
}

.car {
    position: relative; 
    top: -30px;
    left: 0px;
    animation-name: fire;
    animation-duration: 5s;

    /* 5. animation fill model*/
    animation-fill-mode: forwards;
    /* animation-delay: 2s; */

    /* 6. repeating animation */
    animation-iteration-count: infinite;

    /* http://cubic-bezier.com/#0,0,1,1 */
    animation-timing-function: cubic-bezier(1,.26,0,1.37)
}

/* repeating animation */
@keyframes fire {
    from { transform: translateX(-200px) }
    to { transform: translateX(700px) }
}

/* 7. direction */
.car2 {
    position: relative;
    top: 50px;
    left: 0px;
    animation-name: fire;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}