<h2>Home</h2>

<form (ngSubmit)="submitForm()" [formGroup]="page1Form" novalidate>
  <div class="form-content">
    <div style="font-size: 20px;"><a [routerLink]="['/page2']" >list page</a></div>
    <label>
      Name:
      <input type="text" formControlName="name" class="sd-form-control" placeholder="Enter your name.">
    </label>
    <!-- <label>
      Email:
      <input type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">
    </label>
    <label>
      Content:
      <textarea formControlName="content" class="sd-form-control" placeholder="Content here."></textarea>
    </label> -->
    
    <!-- <div class="form-submit">
      <button type="submit">Submit</button>
    </div> -->
  </div>
</form>

<!-- <div class="form-value">
  Form value:
  <pre>
    {{page1Form.value | json}}
  </pre>
  <p>
    Status: {{page1Form.status}}
  </p>
  <p>
    Valid: {{page1Form.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div> -->

