<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="odd = !odd">
        <span *ngIf="odd">show odd numbers</span>
        <span *ngIf="!odd">show numbers</span>
      </button>
      <br/><br/>
      <ul class="list-group">
        <li class="list-group-item" 
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 === 0 ? 'gainsboro' : 'white'}"
          *ngFor="let number of numbers" 
          [style.display]="number % 2 !== 0 || odd ? 'block' : 'none'">
          {{ number }}
        </li>
      </ul>
    </div>

    <div myBetterHighlight>this is renderer style</div>

  </div>
</div>
