.img {
	width: 400px;
	height: 150px;
	margin-left: 20px;
	box-shadow: 4px 2px 4px black;
}

#img2 {
	/*��Ӱ*/
	box-shadow: 1px 1px 7px #999;
}
/* Wrapper */
#wrapper {
	
}

/* Page */
#page {
	width: 500px;
	padding: 20px 0;
	margin-left: 200px;
}

#page-bg {
	padding: 11px 24px;
}

/* Latest Post */
#latest-post {
	border: 1px dashed #8D8D8D;
}
/* Content */
#content {
	float: left;
	width: 500px;
	padding-right: 0px;
}

.post {
	margin-bottom: 20px;
	padding-bottom: 15px;
	line-height: 200%;
}

.post h1 {
	font-weight: normal;
	font-size: 30px;
}

.post h2 {
	font-size: 24px;
}

.title {
	margin-top: 0px;
	padding: 15px 0px 0px 0px;
	font-weight: normal;
	/*��Ӱ*/
	text-shadow: 4px 2px 5px black;
}

.tit {
	margin-top: 80px;
	padding: 15px 0px 0px 0px;
	font-weight: normal;
	/*��Ӱ*/
	text-shadow: 4px 2px 5px black;
}

.title a {
	border-bottom: none;
}

.byline {
	margin: 0 0px 20px 0px;
	text-transform: uppercase;
}

.entry {
	padding: 0px 0px;
	font-size: 16px;
	text-shadow: 1px 1px 3px gray;
	border: 1px;
}

.links {
	font-size: 11px;
}

.links a {
	display: block;
	border: none;
	color: #FFFFFF;
}

.links a:hover {
	
}

.links .more {
	float: right;
	text-transform: uppercase;
}

.links .comments {
	float: left;
	padding-left: 20px;
}

#sidebar1 {
	padding-right: 0px;
	width: 30%;
	margin-right: 200px;
	margin-top: 10px;
	border: 1px solid #999;
	width: 300px;
	height: 220px;
}

#sidebar2 {
	padding-right: 10px;
	width: 500px;
	margin-LEFT: 400px;
}

.sidebar {
	float: right;
	width: 300px;
	padding: 0 0 0 21px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
	padding: 0px 15px;
}

.sidebar li li {
	padding: 8px 0 8px 0px;
}

.sidebar li li a:hover {
	color: #FBD900;
}

.sidebar li h2 {
	margin: 0 0 10px 0;
	padding: 10px 15px 10px 15px;
	background: #1E3227;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
}

.sidebar p {
	padding: 0px 15px;
}

.sidebar a {
	/*color: #FBD900;*/
	
}

/* Search */
#searchform {
	margin: 0;
	padding: 20px 15px;
}

#searchform br {
	display: none;
}

#s {
	margin: 0;
	padding: 2px 2px;
	width: 165px;
	height: 18px;
	border: none;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 1px 0 0 0;
	padding: 2px 5px;
	height: 24px;
	border: none;
	background: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

/*******����ͼƬ*/
#marq {
	width: 948px;
	height: 120px;
	overflow: hidden;
	margin-left: 199px;
	margin-top: 100px;
	box-shadow: 1px 1px 7px #999;
}

#marq img {
	width: 150px;
	height: 100px;
}

.btn {
	
}

.btn ul li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: black;
	/*background:blue;*/
}

a:hover {
	background: white;
}

.hr {
	clear: both;
}
/*main*/
.main {
	margin-left: auto;
	margin-right: auto;
}

.low {
	width: 65%;
	margin-left: 228px;
}

.cement {
	width: 75%;
	margin-left: 180px;
}

.modify {
	margin-top: 70px;
	margin-left: 500px;
	margin-right: auto;
}

#gonggao {
	margin-top: 20px;
}