<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domains</key>
	<array>
		<string>http://mpp.liveapi.mgtv.com/v1/</string>
		<string>http://mpp1.liveapi.mgtv.com/v1/</string>
		<string>http://mpp2.liveapi.mgtv.com/v1/</string>
	</array>
	<key>buss</key>
	<string>epg/turnplay/getLiveBuss</string>
	<key>info</key>
	<string>epg/turnplay/getLiveActivityDetailChannelInfos</string>
	<key>play</key>
	<string>epg/turnplay/getLivePlayUrlMPP</string>
</dict>
</plist>
